<!-- _includes/base.html -->
{% assign base = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth <= 1 %}{% assign base = '.' %}
{% elsif depth == 2 %}{% assign base = '..' %}
{% elsif depth == 3 %}{% assign base = '../..' %}
{% elsif depth == 4 %}{% assign base = '../../..' %}{% endif %}

<div class="usa-disclaimer">
  <div class="usa-disclaimer-official">
    <p>This site builds on USDS's prototype. <a href="https://usds.github.io/benefits-enrollment-prototype/" target="_blank">Learn more</a>.</p>
  </div>
</div>

<header class="application-header">
  <h1 class="application-header__primary-heading"><a href="{{ base }}/welcome.html">Benefits Enrollment</a></h1>
  <!-- <div class="mibriges-logo__main"></div> -->
  <ul class="application-header__nav-links">
    <li class="nav-links__link"> <a href="#">Resources</a></li>
    <li class="nav-links__link"> <a href="#">Log In</a></li>
  </ul>
</header>